.span_maqEscribir2 {
  white-space: nowrap;
  font-family: "Special Elite", system-ui;
  animation: typing 5s steps(36), blink .5s infinite step-end alternate;
}

.title {
  font-family: "Special Elite", system-ui;
  color: var(--color--blueSky);
  font-size: 1.5rem;
  margin-bottom: 2rem;
  white-space: pre-line;
}



@keyframes typing {
  from {
    width: 0
  }

  ;
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}


.conoceme {
  width: 110px;
  padding: 8px;
  margin-top: 50px;
  border-radius: 15px;
  border: none;
  background-color: var(--color-green-studioCode);
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 500;

}

.pi-user {
  margin-left: 5px;
}