.container_certificaciones {
  color: rgb(70, 69, 69);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: normal;
  height: auto;
 
}


.card_google {
  position: relative;
  width: 320px;
  height: auto;
  margin-bottom: 50px;
  background-image: url("https://img.freepik.com/foto-gratis/fondo-3d-cubos-blancos_23-2150472998.jpg?t=st=1738173694~exp=1738177294~hmac=7dd1ebfb40a1420e3b33da69010cfa314b17f7e4a1b174774721ff178c910886&w=740");
  padding: 20px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
}










