/*
https://img.freepik.com/fotos-premium/busto-griego-antigua-musa-griega-junto-viejo-libro-abierto_483949-16891.jpg?w=826
https://img.freepik.com/fotos-premium/sistema-html-concepto-sitio-web_23-2150376748.jpg?w=900
https://img.freepik.com/foto-gratis/gafas-cerca-computadora-portatil-reflejan-luz-pantalla-espacio-oscuro-copia_169016-14893.jpg?t=st=1715714036~exp=1715717636~hmac=eb2c0da9767675f664c04ad2c5d737ea0e13531288a4962dff49c0ee69446909&w=900
https://img.freepik.com/fotos-premium/estatua-diosa-afrodita-telefono-movil-fondo-rosa_168171-5705.jpg?w=900"
*/
:root {
    --color-general-text: black;
    --color-background-principal: #f5f5f5;
    --color-background-item: gainsboro;
    --color-secundary: rgba(35, 158, 224, 0.817);
    --color-graymoreLight:  #dfe2e3;
    --color-blueSkyLight: #cbe4f8;
    --color--gray: #b0b4b5;
    --color--mostaza: #a88c43;
    --color--darknight:  #040c14;
    --color--bluesteal:#585d77;
    --color--blue-darklight:#05344c;
    --color--darkMatther: #3b3c3b; 
    --color--blueSky:#2695f1;
    --color-green-studioCode: #049d40;
    --color--blue-dark: #041b2b;
    --color--darkgraylight: #524d3c ;
    --color--pumpkinNeon: #f4ac04;
    --color--malva:#903287;
    --color--grassGreen: #047037;
    --color--pinkCode:#e040a4; 
    --color--darkmode:#28313a; 
    --color--bluelight:#6c8c9c;
    --color-darkbluemarine:  #0d2c35;
    --color--darknightLight: #151f2c;
    --color--darkDracula: #040c1c;
    --color--blueMarineDark2:  #0a213c;  
    --color--darkMarine3 :#041c34;
    
  }
  .terminal {

    /* Fondo negro */
    color:var(--color-green-studioCode); /* Texto blanco */
    padding: 1rem; /* Espaciado interno */
    min-height: 100vh; /* Asegura que siempre ocupe todo el espacio disponible */
    overflow-y: auto;
    white-space: pre-wrap; /* Conserva los saltos de línea del texto */
  }
  .container-terminal{
    z-index: 0;
  }


  

  