:root {
  --color-general-text: black;
  --color-background-principal: #f5f5f5;
  --color-background-item: gainsboro;
  --color-secundary: rgba(35, 158, 224, 0.817);
  --color-graymoreLight:  #dfe2e3;
  --color-blueSkyLight: #cbe4f8;
  --color--gray: #b0b4b5;
  --color--mostaza: #a88c43;
  --color--darknight:  #040c14;
  --color--bluesteal:#585d77;
  --color--blue-darklight:#05344c;
  --color--darkMatther: #3b3c3b; 
  --color--blueSky:#2695f1;
  --color-green-studioCode: #049d40;
  --color--blue-dark: #041b2b;
  --color--darkgraylight: #524d3c ;
  --color--pumpkinNeon: #f4ac04;
  --color--malva:#903287;
  --color--grassGreen: #047037;
  --color--pinkCode:#e040a4; 
  --color--darkmode:#28313a; 
  --color--bluelight:#6c8c9c;
  --color-darkbluemarine:  #0d2c35;
  --color--darknightLight: #151f2c;
  --color--darkDracula: #040c1c;
  --color--blueMarineDark2:  #0a213c;  
  --color--darkMarine3 :#041c34;
  
}


.marquee-wrapper {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  background-color: var(--color-graymoreLight);
  font-size: 1rem;
  font-family: "Special Elite", system-ui;
  font-weight: 100;
  font-style: normal;
  color: var(--color--pinkCode);

}

.marquee-content {
  display: inline-block;
  animation: marquee-animation 25s linear infinite;

}

@keyframes marquee-animation {
  0% {
    top: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}


#favicon {
  /* Tamaño deseado */
  width: 70px;
  height: 70px;
}





