:root {
  --color-general-text: black;
  --color-background-principal: #f5f5f5;
  --color-background-item: gainsboro;
  --color-secundary: rgba(35, 158, 224, 0.817);
  --color-graymoreLight:  #dfe2e3;
  --color-blueSkyLight: #cbe4f8;
  --color--gray: #b0b4b5;
  --color--mostaza: #a88c43;
  --color--darknight:  #040c14;
  --color--bluesteal:#585d77;
  --color--blue-darklight:#05344c;
  --color--darkMatther: #3b3c3b; 
  --color--blueSky:#2695f1;
  --color-green-studioCode: #049d40;
  --color--blue-dark: #041b2b;
  --color--darkgraylight: #524d3c ;
  --color--pumpkinNeon: #f4ac04;
  --color--malva:#903287;
  --color--grassGreen: #047037;
  --color--pinkCode:#e040a4; 
  --color--darkmode:#28313a; 
  --color--bluelight:#6c8c9c;
  --color-darkbluemarine:  #0d2c35;
  --color--darknightLight: #151f2c;
  --color--darkDracula: #040c1c;
  --color--blueMarineDark2:  #0a213c;  
  --color--darkMarine3 :#041c34;
  
}


.marquee-wrapper {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  background-color: var(--color-graymoreLight);
  font-size: 1rem;
  font-family: "Special Elite", system-ui;
  font-weight: 100;
  font-style: normal;
  color: var(--color--pinkCode);

}

.marquee-content {
  display: inline-block;
  animation: marquee-animation 25s linear infinite;

}

@keyframes marquee-animation {
  0% {
    top: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}


#favicon {
  /* Tamaño deseado */
  width: 70px;
  height: 70px;
}

.light-theme {
  color: rgb(252, 252, 252);
  color: var(--color--darknightLight);
}

.dark-theme {
  width: 100%;
  /*background-color: #212125;*/
  /*background: rgb(33,37,35);
  background: linear-gradient(84deg, rgba(33,37,35,1) 0%, rgba(1,4,49,0.7867939412092962) 100%);*/
  background: rgb(25, 25, 25);
 
}

.light {
  font-weight: bold;
 
  background-image: url("https://img.freepik.com/vector-premium/icono-montanas-azules_118813-6945.jpg?w=1060");
  background-size: cover;
  color: rgb(250, 250, 248);
  padding: 7.5px;
  margin-right: 5px;
  border-radius: 15px;
  border: none;
  margin-left: 35px;
  font-size: 0.8rem;
  margin-bottom: 20px;
  opacity: 90%;
  text-shadow: #000000 1px 0 10px;

}

.pi-moon,
.pi-sun {
  font-size: 30px;
  color: #f8e303;
  font-weight: bolder;
  text-shadow: #f4f59c 1px 0 10px;
}

.light:hover {
  background-color: lightgoldenrodyellow;
  color: rgb(78, 255, 252)
}

.dark {
  margin-top: 20px;
  margin-left: 35px;
  background-color: #3d3343;
  color: white;
  padding: 7.5px;
  margin-right: 5px;
  border-radius: 15px;
  border: none;
  font-size: 0.8rem;
  background-image: url("https://img.freepik.com/vector-gratis/cosmic-inspire-impresionante-cartel-cielo-estrellado-montana-estrellas_1017-43477.jpg?t=st=1715441660~exp=1715445260~hmac=a4472ab2bae248d1e7f1c19b9121d7595403e9ba84c4472645228c2d88f8ffbd&w=1060");
  background-size: cover;
  font-weight: bold;
}





/*cabecera*/

.cabecera-container {
  font-size: 1.5rem;

}

.card {
  opacity: 0;
  transition: ease 500ms;
}

.card:hover {
  text-align: center;
  visibility: visible;
  opacity: 2;
}

.p-chip-text {
  margin-left: 8px;
}

.custom-chip {
  text-align: center;
}

.custom-chip img {
  width: 20px;
  padding: 2px;
  background-color: whitesmoke;

}


.grid_fotos {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  row-gap: 20px;
  margin: 0px 20px;
  -webkit-animation: slide-in-fwd-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-fwd-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.imagenes_centradas {
  display: block;
  margin: 0 auto;
  width: 60.9%;
  padding: 15px;
  -webkit-animation: slide-in-fwd-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-fwd-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;


}

@-webkit-keyframes slide-in-fwd-bottom {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px);
    transform: translateZ(-1400px) translateY(800px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-fwd-bottom {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px);
    transform: translateZ(-1400px) translateY(800px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}



.item {
  display: block;
  margin: 0 auto;
  width: 29%;
  background-color: var(--color--bluelight);

}

.grid_fotos1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: center;
  column-gap: 10px;
  margin: -10px 25px;

  -webkit-animation: slide-in-fwd-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-fwd-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}





/*Seccion Información*/

.titsec_Informacion {
  font-size: 1.3rem;
  color: var(--color--pumpkinNeon)
}

.parrsec_Informacion {
  font-size: 1rem;
  line-height: 20px;
  color:var(--color--darkgraylight)
}

.seccionInformacion {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0 auto;
 



}


.icon_section {

  padding: 10px;
}





.pi-thumbs-up,
.pi-question,
.pi-tablet {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 40px;
  border-radius: 50%;
  padding: 20px;
  background-color: var(--color--gray);
  -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/*Curriculum*/
.skills {
  font-family: "Roboto", sans-serif;
  font-size: 2.2rem;
  margin-left: 45px;
  margin-top: 40px;
}


.contenedor {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-bottom: 150px;
}

.contenedor figure {
  position: relative;
  height: 180px;
  width: 295px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 10px 20px rgb(217, 215, 215);
  cursor: pointer;
}

.contenedor figure img {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
}


.contenedor figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(212, 228, 241, 0.546);
  opacity: 0;
  transition: all 500ms ease-out;
  visibility: hidden;
  text-align: center;
  background: linear-gradient(53deg, #c4feef, #a94be4, #f0dd13, #f16af8);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 6s ease infinite;
  -moz-animation: AnimationName 6s ease infinite;
  animation: AnimationName 6s ease infinite;
}

.contenedor figure:hover>.capa {
  opacity: 1;
  visibility: visible;
}

.contenedor figure:hover>.capa h2 {
  margin-top: 12px;
  margin-bottom: 15px;
}

.contenedor figure .capa h2 {
  color: white;
  background-color: rgb(151, 151, 231);
  font-weight: 800;
  margin-top: 20px;
  transition: all 500ms ease-out;
  font-size: 2rem;
}

.contenedor figure .capa p {
  color: white;
  font-size: 14px;
  line-height: 1.5;
  font-weight: bolder;
  width: 100%;
  max-width: 220px;
  margin: auto;

}

.contenedor figure:hover>img {
  transform: scale(1.1);
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 43% 0%
  }

  50% {
    background-position: 58% 100%
  }

  100% {
    background-position: 43% 0%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 43% 0%
  }

  50% {
    background-position: 58% 100%
  }

  100% {
    background-position: 43% 0%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 43% 0%
  }

  50% {
    background-position: 58% 100%
  }

  100% {
    background-position: 43% 0%
  }
}

