:root {
  --color-general-text: black;
  --color-background-principal: #f5f5f5;
  --color-background-item: gainsboro;
  --color-secundary: rgba(35, 158, 224, 0.817);
  --color-graymoreLight:  #dfe2e3;
  --color-blueSkyLight: #cbe4f8;
  --color--gray: #b0b4b5;
  --color--mostaza: #a88c43;
  --color--darknight:  #040c14;
  --color--bluesteal:#585d77;
  --color--blue-darklight:#05344c;
  --color--darkMatther: #3b3c3b; 
  --color--blueSky:#2695f1;
  --color-green-studioCode: #049d40;
  --color--blue-dark: #041b2b;
  --color--darkgraylight: #524d3c ;
  --color--pumpkinNeon: #f4ac04;
  --color--malva:#903287;
  --color--grassGreen: #047037;
  --color--pinkCode:#e040a4; 
  --color--darkmode:#28313a; 
  --color--bluelight:#6c8c9c;
  --color-darkbluemarine:  #0d2c35;
  --color--darknightLight: #151f2c;
  --color--darkDracula: #040c1c;
  --color--blueMarineDark2:  #0a213c;  
  --color--darkMarine3 :#041c34;
  
}






.marquee-wrapper {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  background-color: var(--color-graymoreLight);
  font-size: 1rem;
  font-family: "Special Elite", system-ui;
  font-weight: 100;
  font-style: normal;
  color: var(--color--pinkCode);

}

.marquee-content {
  display: inline-block;
  animation: marquee-animation 25s linear infinite;

}

@keyframes marquee-animation {
  0% {
    top: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}


#favicon {
  /* Tamaño deseado */
  width: 70px;
  height: 70px;
}

.light-theme {
  color: rgb(252, 252, 252);
  color: var(--color--darknightLight);
}

.dark-theme {
  width: 100%;
  /*background-color: #212125;*/
  /*background: rgb(33,37,35);
  background: linear-gradient(84deg, rgba(33,37,35,1) 0%, rgba(1,4,49,0.7867939412092962) 100%);*/
  background: rgb(25, 25, 25);
 
}

.light {
  font-weight: bold;
  margin-top: 30px;
  background-image: url("https://img.freepik.com/vector-premium/icono-montanas-azules_118813-6945.jpg?w=1060");
  background-size: cover;
  color: rgb(250, 250, 248);
  padding: 7.5px;
  margin-right: 5px;
  border-radius: 15px;
  border: none;
  margin-left: 35px;
  font-size: 0.8rem;
  margin-bottom: 20px;
  opacity: 90%;
  text-shadow: #000000 1px 0 10px;

}

.pi-moon,
.pi-sun {
  font-size: 30px;
  color: #f8e303;
  font-weight: bolder;
  text-shadow: #f4f59c 1px 0 10px;
}

.light:hover {
  background-color: lightgoldenrodyellow;
  color: rgb(78, 255, 252)
}

.dark {
  margin-top: 20px;
  margin-left: 35px;
  background-color: #3d3343;
  color: white;
  padding: 7.5px;
  margin-right: 5px;
  border-radius: 15px;
  border: none;
  font-size: 0.8rem;
  background-image: url("https://img.freepik.com/vector-gratis/cosmic-inspire-impresionante-cartel-cielo-estrellado-montana-estrellas_1017-43477.jpg?t=st=1715441660~exp=1715445260~hmac=a4472ab2bae248d1e7f1c19b9121d7595403e9ba84c4472645228c2d88f8ffbd&w=1060");
  background-size: cover;
  font-weight: bold;

}





.span_maqEscribir {
  font-size: 1.9rem;
  color: var(--color--blueSky);
  display: block;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 30px;
  font-family: "Special Elite", system-ui;
  white-space: nowrap;
  border-right: 4px solid;
  width: 10ch;
  animation: typing 5s steps(10), blink .5s infinite step-end alternate;
  overflow: hidden;
}

.span_maqEscribir1 {
  font-size: 1.2rem;
  color: var(--color--pumpkinNeon);
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  font-family: "Special Elite", system-ui;
  white-space: nowrap;
  border-right: 4px solid;
  width: 30ch;
  animation: typing 5s steps(13), blink .5s infinite step-end alternate;
  overflow: hidden;
}

@Keyframes typing {
  from {
    width: 0
  }

  ;
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

.logo_container {
  display: flex;
  justify-content: start;
  margin-bottom: 20px;

}

.logo_header {
  width: 35%;
  height: auto;
  margin-bottom: 50px;
  margin-top: 20px;


}




.navbar {
  display: flex;
  flex-direction: column;
  padding: 5px;
  height: 30px;
  text-decoration: none;
  list-style-type: none;
  gap: 3px;
  margin-left: 2px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;

}

.enlaces_navbar {

  padding: 5px;
  font-family: monospace;
  font-weight: bolder;
  text-decoration: none;
  color: var(--color--darkgraylight);
  font-size: 0.9rem;
  background-color: var(--color-blueSkyLight);
  border-radius: 5px;
  margin-top: 5px;
  text-align: center;


}

.header {
  margin-top: -10px;
}



.enlaces {
  font-family: monospace;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  padding: 5px;
  text-decoration: none;
  background-color: var(--color--gray);
  border-radius: 5px;
  color: rgb(254, 253, 253);

}



/*cabecera*/

.cabecera-container {
  font-size: 1.5rem;

}

.card {
  opacity: 0;
  transition: ease 500ms;
}

.card:hover {
  text-align: center;
  visibility: visible;
  opacity: 2;
}

.p-chip-text {
  margin-left: 8px;
}

.custom-chip {
  text-align: center;
}

.custom-chip img {
  width: 20px;
  padding: 2px;
  background-color: whitesmoke;

}


.grid_fotos {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  row-gap: 20px;
  margin: 0px 20px;
  -webkit-animation: slide-in-fwd-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-fwd-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.imagenes_centradas {
  display: block;
  margin: 0 auto;
  width: 60.9%;
  padding: 15px;
  -webkit-animation: slide-in-fwd-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-fwd-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;


}

@-webkit-keyframes slide-in-fwd-bottom {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px);
    transform: translateZ(-1400px) translateY(800px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-fwd-bottom {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px);
    transform: translateZ(-1400px) translateY(800px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}



.item {
  display: block;
  margin: 0 auto;
  width: 29%;
  background-color: var(--color--bluelight);

}

.grid_fotos1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: center;
  column-gap: 10px;
  margin: -10px 25px;

  -webkit-animation: slide-in-fwd-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-fwd-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}


.conoceme {
  width: 110px;
  padding: 8px;
  margin-top: 60px;
 
  border-radius: 15px;
  border: none;
  background-color: var(--color-green-studioCode);
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 500;

}

.pi-user{
  margin-left: 5px;
}

.botones_cabecera {
  display: flex;
  justify-content: center;

}

/*Seccion Información*/

.titsec_Informacion {
  font-size: 1.3rem;
  color: var(--color--pumpkinNeon)
}

.parrsec_Informacion {
  font-size: 1rem;
  line-height: 20px;
  color:var(--color--darkgraylight)
}

.seccionInformacion {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0 auto;
  margin-bottom: 120px;



}


.icon_section {

  padding: 10px;
}





.pi-thumbs-up,
.pi-question,
.pi-tablet {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 40px;
  border-radius: 50%;
  padding: 20px;
  background-color: var(--color--gray);
  -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/*Curriculum*/
.skills {
  font-family: "Roboto", sans-serif;
  font-size: 2.2rem;
  margin-left: 45px;
  margin-top: 40px;
}


.contenedor {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-bottom: 150px;
}

.contenedor figure {
  position: relative;
  height: 180px;
  width: 295px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 10px 20px rgb(217, 215, 215);
  cursor: pointer;
}

.contenedor figure img {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
}


.contenedor figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(212, 228, 241, 0.546);
  opacity: 0;
  transition: all 500ms ease-out;
  visibility: hidden;
  text-align: center;
  background: linear-gradient(53deg, #c4feef, #a94be4, #f0dd13, #f16af8);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 6s ease infinite;
  -moz-animation: AnimationName 6s ease infinite;
  animation: AnimationName 6s ease infinite;
}

.contenedor figure:hover>.capa {
  opacity: 1;
  visibility: visible;
}

.contenedor figure:hover>.capa h2 {
  margin-top: 12px;
  margin-bottom: 15px;
}

.contenedor figure .capa h2 {
  color: white;
  background-color: rgb(151, 151, 231);
  font-weight: 800;
  margin-top: 20px;
  transition: all 500ms ease-out;
  font-size: 2rem;
}

.contenedor figure .capa p {
  color: white;
  font-size: 14px;
  line-height: 1.5;
  font-weight: bolder;
  width: 100%;
  max-width: 220px;
  margin: auto;

}

.contenedor figure:hover>img {
  transform: scale(1.1);
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 43% 0%
  }

  50% {
    background-position: 58% 100%
  }

  100% {
    background-position: 43% 0%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 43% 0%
  }

  50% {
    background-position: 58% 100%
  }

  100% {
    background-position: 43% 0%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 43% 0%
  }

  50% {
    background-position: 58% 100%
  }

  100% {
    background-position: 43% 0%
  }
}

/*footer*/

.footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 250px;
  line-height: 19px;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: stretch;


}

.logo_footer {
  width: 10%;
  height: 10%;


}

.icons_social {
  width: 14%;
  height: 9vh;
  margin-top: 10px;

}

.pi-instagram,
.pi-facebook,
.pi-github,
.pi-telegram {
  font-size: 16px;
  padding: 8px;
  background-color: rgba(149, 202, 230, 0.436);
  border-radius: 8px;
  margin-left: 5px;
  margin-top: 10px;
}



.dev_nombre {
  text-align: center;
  line-height: 20px;
  font-size: 1rem;
  color: gray;

}

.contacto_footer {
  width: 40%;
  height: 15vh;
  display: flex;
  flex-direction: column;


}






.span_quiensoy {
  font-weight: bolder;
  display: flex;
  justify-content: center;
  border: 1px solid var(--color-secundary);
  margin-top: 5px;
  padding: 3px;
  color: rgb(6, 6, 6);
  text-transform: uppercase;
  font-size: 1.4rem;
  font-family: Roboto;
  font-weight: 900;
  border-right: 4px solid rgb(235, 136, 150);
  background-color: #ebf4f9cb;
  letter-spacing: 10px;
  text-shadow: 2px 2px 4px white;
  -webkit-animation: tracking-in-expand 2.7s cubic-bezier(0.315, 0.610, 0.355, 2.000) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;


}


@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -3.6em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;

  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;

  }
}



.parallax_Avatar {
  display: flex;
  
  width: 260px;
  margin-left: 20px;
  margin: 0 auto;
  margin-top: 100px;

  justify-items: center;
  margin-top: 50px;


}





.sobremi {



  padding: 20px;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("https://img.freepik.com/fotos-premium/sistema-html-concepto-sitio-web_23-2150376748.jpg?w=900");

  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s ease-in;

}

.presentación {
  width: 50%;
  font-family: "Special Elite", system-ui;
  font-size: 1.1rem;
  border: 1px solid black;
  height: auto;
  line-height: 26px;
  margin: 0 auto;
  background-color: #f5f5f5;
  color: #080808;
  padding: 20px;
  margin-top: 10px;
  border-right: 4px solid;

}






.presentación1,
.presentación2,
.presentación3 {
  width: 80%;
  font-family: "Special Elite", system-ui;
  font-size: 1.1rem;
  border: 1px solid black;
  height: auto;
  line-height: 26px;
  margin: 0 auto;
  background-color: #f5f5f5;
  color: #080808;
  padding: 20px;
  margin-top: 10px;
  border-right: 4px solid;


}


.yo {

  width: 100px;
  height: 200px;
  padding: 10px;
  margin-top: -100px;

}

.presentación {
  width: 30%;
}



.sobremi1 {
  margin-top: 70px;
  padding: 20px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  /*background-image: url("https://img.freepik.com/fotos-premium/hombre-mujer-escultura-cabeza-yeso-mira-pantalla-portatil-sobre-fondo-rojo-abstracto-moderno-collage-ilustracion-generativa-ai_92753-15077.jpg?w=900");*/

  background-image: url("https://img.freepik.com/foto-gratis/gafas-cerca-computadora-portatil-reflejan-luz-pantalla-espacio-oscuro-copia_169016-14893.jpg?t=st=1715714036~exp=1715717636~hmac=eb2c0da9767675f664c04ad2c5d737ea0e13531288a4962dff49c0ee69446909&w=900");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s ease-in;

}




.sobremi2 {
  margin-top: 20px;
  height: 80vh;
  align-items: center;
  padding: 20px;
  display: flex;
  flex-direction: column;

  background-image: url("https://img.freepik.com/fotos-premium/estatua-diosa-afrodita-telefono-movil-fondo-rosa_168171-5705.jpg?w=900");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s ease-in;
}



.sobremi3 {
  margin-top: 20px;
  height: 80vh;
  align-items: center;
  padding: 20px;
  display: flex;
  flex-direction: column;

  background-image: url("https://img.freepik.com/fotos-premium/busto-griego-antigua-musa-griega-junto-viejo-libro-abierto_483949-16891.jpg?w=826");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s ease-in;
}


/*Section Contacto*/




.contenedor_inputs {
  width: 48%;
  height: auto;


  background-color: #031937;

}

.btn-Registrate {
  width: 86%;
  margin-top: 20px;
  margin-bottom: 20px;
}


label,
h3,
input {
  width: 84%;
  display: block;
  height: auto;
  margin-top: 10px;
  padding: 8px;
  margin-left: 20px;
  background-color: rgb(252, 252, 252);
  border: none;
  border-radius: 5px;
}

.contenedor_principal {

  display: flex;
  margin: 0 auto;
  width: 80%;
  height: auto;
  color: rgb(72, 69, 69);
  border: 2px solid #239EE0D0;
}

.contenedor_información {
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=239ee0d0&c2=f6f5f1&gt=l&gd=dbl
*/


  width: 52%;
  height: auto;
  background-image: url("https://img.freepik.com/foto-gratis/concepto-collage-html-css-persona_23-2150061969.jpg?t=st=1714835986~exp=1714839586~hmac=0857874ca0b1821c2fa488a86161a9fd9f5e619c8944183cf2fa0ecd62b606c2&w=826");


}

.contenedorTituloy_Span {
  font-size: 0.8rem;
  margin: 10px;
  margin-top: 40px;
  background-color: whitesmoke;
  padding: 15px;
  border-radius: 5px;

}


.span_mobil {
  display: flex;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 10px;
  margin-top: 20px;
  background-color: whitesmoke;
  width: 180px;
  border-radius: 5px;

}


.contenedor_SpanOrientacion {
  display: flex;
  font-size: 0.8rem;
  margin: 10px;
  margin-top: 10px;
  background-color: whitesmoke;
  padding: 15px;
  border-radius: 5px;

}

.span_email {
  width: 200px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  font-size: bolder;
  margin: 0 auto;

  background-color: #f5f5f5;
  padding: 5px;
  border-radius: 5px;

}