/*.ovni {
  position: absolute;
  left: 0;
  top:55;
  animation: moveUFO 8.5s linear infinite;
  z-index: 40;
  width: 40%;
  height:auto;

}

@keyframes moveUFO {
  0% {
    transform: translateX(20%) rotate(0deg);
  }

  20% {
    transform: translateX(40%) rotate(10deg);
  }

  25% {
    transform: translateX(40%) rotate(10deg);
  }

  30% {
    transform: translateX(50%) rotateZ(19deg);
  }

  40% {
    transform: translateX(60%) rotate(25deg);
  }

  50% {
    transform: translateX(70%) rotate(10deg);
  }

  60% {
    transform: translateZ(100%) rotate(8deg);
  }

  70% {
    transform: translateX(100%) rotate(40deg) rotateZ(-0.25turn);
  }

  80% {
    transform: translateX(100%) rotateZ(-0.05turn);
  }

  85% {
    transform: translateX(100%) rotateZ(-0.05turn) rotateY(-0.05turn) rotateY(0.15turn);
  }
}

@keyframes swingUFO {

  0%,
  100% {
    transform: translateX(-50%) rotate(0deg);
   
  }

  50% {
    transform: translateX(-50%) rotate(10deg);
    
  }
}
*/
