


.ovni {
  position: absolute;
  left: 200px;
  top: 300px;
  animation: moveUFO 8.5s linear infinite;



}



@keyframes moveUFO {
  0% {
    transform: translateX(60%) rotate(0deg);
  }

  20% {
    transform: translateX(30%) rotate(10deg);
  }

  25% {
    transform: translateX(50%) rotate(10deg);
  }

  30% {
    transform: translateX(70%) rotateZ(19deg);
  }

  40% {
    transform: translateX(80%) rotate(25deg);
  }

  50% {
    transform: translateX(90%) rotate(10deg);
  }

  55% {
    transform: translateY(70%) rotate(8deg);
  }

  58% {
    transform: translateY(30%) rotate(8deg);
  }

  60% {
    transform: translate(100%) rotate(8deg);
  }

  70% {
    transform: translateX(100%) rotate(40deg) rotateZ(-0.20turn);
  }

  80% {
    transform: translateX(110%) rotate(40deg) rotateZ(-0.19turn);

  }

  90% {
    transform:
      left(-80%) translateX(-100%)
      /* se va hacia la izquierda */
      translateY(80%) translateZ(20%) rotate(50deg) rotateZ(-0.19turn);

  }


}

@keyframes swingUFO {

  0%,
  100% {
    transform: translateX(-50%) rotate(0deg);

  }

  50% {
    transform: translateX(-50%) rotate(10deg);

  }
}