@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  position: relative;
  background-size: cover;


}



body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("/img/business.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.1;

  z-index: -1;
}
*/
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 768px) {
  .body::before {
    background-position: center; /* 👈 cambia encuadre */
  }
}