@media (min-width:320px) {
    /*Header*/

    .dark-theme {
        height: 900vh;
    }


    .logo_container {
        display: flex;
        justify-content: center;

    }

    .logo_header {
        width: 40%;
        height: auto;
        margin-bottom: 70px;
        margin-top: 10px;
    }

    .ovni {
        width: 55vw;
        height: auto;
        margin-top: 300px;
    }



    /*Cabecera*/



    .grid_fotos {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start;
        column-gap: 20px;
        margin: 0px 60px;
    }

    .item {
        display: block;
        background-color: gainsboro;
        width: 82%;
        margin-top: 10px;
    }

    .imagenes_centradas {
        display: block;
        margin: 0 auto;
        width: 82%;
        padding: 15px;
    }

    .grid_fotos1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start;
        column-gap: 30px;
        margin: 40px 60px;
        gap: 45px;
    }

    .footer {
        margin-top: 500px;
    }

    .logo_footer {
        margin-top: 500px;
    }

    /*seccion sobremi*/




    .contenedor_inputs {
        width: 100%;
        height: 80vh;
    }

    .contenedor_principal {
        width: 100%;
        height: 80vh;
    }




}


@media (min-width:481px) {

    .logo_container {
        display: flex;
        justify-content: center;
    }

    .logo_header {
        width: 18%;
        height: auto;
        margin-bottom: 50px;
        margin-top: 20px;
    }

    .contenedor_inputs {
        width: 100%;
        height: 80vh;
    }

    .contenedor_principal {
        width: 100%;
        height: 80vh;
    }

    .ovni {
        width: 60vw;
        height: auto;
    }

}


@media(min-width: 641px) {

    /*header*/

    .dark-theme {
        height: 900vh;
    }

    .logo_container {
        display: flex;
        justify-content: first baseline;
    }

    .logo_header {
        width: 18%;
        height: auto;
        margin-bottom: 50px;
        margin-top: 7px;
    }

    .enlaces_navbar {
        visibility: visible;
    }

    .item {
        display: block;
        margin: 0 auto;
        width: 29%;
        background-color: gainsboro;

    }

    .grid_fotos {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: center;
        row-gap: 20px;
        margin: 0px 20px;
        -webkit-animation: slide-in-fwd-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-fwd-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;


    }


    .imagenes_centradas {
        display: block;
        margin: 0 auto;
        width: 60.9%;
        padding: 15px;

    }

    .grid_fotos1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
        align-content: center;
        column-gap: 10px;
        margin: -10px 25px;

    }

    .contenedor_inputs {
        width: 100%;
        height: 80vh;
    }

    .contenedor_principal {
        width: 90%;
        height: 110vh;
    }

    /*404 error*/
    .play {
        margin-top: 200px;
    }

    .ovni {
        width: 40vw;
        height: auto;
    }


}





@media(min-width: 1025px) {

    .logo_header {
        width: 15%;
        height: auto;
        margin-top: -10px;
    }

    .seccionInformacion {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 20px;


    }

    .icon_section {
        width: 29%;
    }

    .contenedor_inputs {
        width: 50%;
        height: auto;
    }

    .contenedor_principal {
        width: 100%;
        height: 112vh;
    }

    /*404 error*/
    .play {
        margin-top: 500px;
    }



}