@media (min-width:320px) {
  
    .dark{
        height:auto;
    }
 
    /*section 404*/

    .ovni {
        width: 55vw;
        height: auto;
        margin-top: 200px;
    }



}


@media (min-width:481px) {



    /*seccion 404*/

    .ovni {
        width: 60vw;
        height: auto;
    }

    


}


@media(min-width: 641px) {

    

    /*404 error*/
    .play {
        margin-top: 200px;
    }

    .ovni {
        width: 40vw;
        height: auto;
    }

   


}





@media(min-width: 1025px) {

   
    .icon_section {
        width: 29%;
    }

   



    /*404 error*/
    .play {
        margin-top: 500px;
    }

    .contenedor_principal {
        display: flex;
        margin: 0 auto;
        flex-direction: row;
        width: 96%;
        height: 70vh;
        color: rgb(72, 69, 69);
    }

    .contenedor_información {
        width: 50%;

        height: auto;
    }

    .contenedor_inputs {
        width: 50%;
        height: auto;
        margin-top: 70px;

    }

   
  

    
}