@media (min-width:320px) {
    /*Header*/

    .dark-theme {
        height: 490vh;
    }
    
  


    .logo_container {
        display: flex;
        justify-content: center;

    }

    .logo_header {
        width: 40%;
        height: auto;
        margin-bottom: 70px;
        margin-top: 10px;
    }

    /*section 404*/

    .ovni {
        width: 55vw;
        height: auto;
        margin-top: 200px;
    }


    /*Cabecera*/

    .grid_fotos {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start;
        column-gap: 20px;
        margin: 0px 60px;
    }

    .item {
        display: block;
        background-color: gainsboro;
        width: 82%;
        margin-top: 10px;
    }

    .imagenes_centradas {
        display: block;
        margin: 0 auto;
        width: 82%;
        padding: 15px;
    }

    .grid_fotos1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start;
        column-gap: 30px;
        margin: 40px 60px;
        gap: 45px;
    }





    /*section Contacto*/

    .contenedor_principal {

        flex-direction: column;
    }

    .contenedor_información {
        width: 100%;

    }

    .contenedor_inputs {
        width: 100%;
        height: auto;

    }

    label,
    h3,
    input {
        width: 82%;
        display: block;
        margin-top: 20px;
        padding: 12px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(252, 252, 252);
        border: none;
        border-radius: 5px;
    }

    .seccionInformacion {
        margin-bottom: 150px;
    }

    .footer {
        margin-top: 50px;
    }

    .logo_footer {
        width: 12%;
        height: 12%;
        
        margin-left: 10px;
    }


   
}


@media (min-width:481px) {

    .logo_container {
        display: flex;
        justify-content: center;
    }

    .logo_header {
        width: 18%;
        height: auto;
        margin-bottom: 50px;
        margin-top: 20px;
    }

    /*seccion 404*/

    .ovni {
        width: 60vw;
        height: auto;
    }

    /*seccion contacto*/



    label,
    h3,
    input {
        width: 82%;
        display: block;
        margin-top: 20px;
        padding: 12px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(252, 252, 252);
        border: none;
        border-radius: 5px;
    }


}


@media(min-width: 641px) {

    /*header*/

    .dark-theme {
        height: 170vh;
    }

    .logo_container {
        display: flex;
        justify-content: first baseline;
    }

    .logo_header {
        width: 18%;
        height: auto;
        margin-bottom: 50px;
        margin-top: 7px;
    }

    .enlaces_navbar {
        visibility: visible;
    }

    .item {
        display: block;
        margin: 0 auto;
        width: 29%;
        background-color: gainsboro;

    }

    .grid_fotos {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: center;
        row-gap: 20px;
        margin: 0px 20px;
        -webkit-animation: slide-in-fwd-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-fwd-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    }


    .imagenes_centradas {
        display: block;
        margin: 0 auto;
        width: 60.9%;
        padding: 15px;

    }

    .grid_fotos1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
        align-content: center;
        column-gap: 10px;
        margin: -10px 25px;

    }


    /*404 error*/
    .play {
        margin-top: 200px;
    }

    .ovni {
        width: 40vw;
        height: auto;
    }

    /*section contacto*/

    .contenedor_principal {
        display: flex;
        margin: 0 auto;
        flex-direction: row;
        width: 89%;

        color: rgb(72, 69, 69);
    }

    .contenedor_información {
        width: 52%;

        height: auto;
    }

    .contenedor_inputs {
        width: 50%;
        height: auto;


    }

    label,
    h3,
    input {
        width: 82%;
        display: block;
        margin-top: 20px;
        padding: 12px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(252, 252, 252);
        border: none;
        border-radius: 5px;
    }

    .sobremi,
    .sobremi1,
    .sobremi2,
    .sobremi3{
        height: 20vh;
    }


}





@media(min-width: 1025px) {


    .dark-theme {
        height: 330vh;
    }


    .logo_header {
        width: 15%;
        height: auto;
        margin-top: -10px;
    }

    .seccionInformacion {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        gap: 20px;


    }

    .icon_section {
        width: 29%;
    }



    /*404 error*/
    .play {
        margin-top: 500px;
    }

    .contenedor_principal {
        display: flex;
        margin: 0 auto;
        flex-direction: row;
        width: 96%;
        height: 70vh;
        color: rgb(72, 69, 69);
    }

    .contenedor_información {
        width: 50%;

        height: auto;
    }

    .contenedor_inputs {
        width: 50%;
        height: auto;
        margin-top: 70px;

    }

    .footer {
        margin-top: 100px;
    }


}